[Unit]
Description = isucon8 qualifier webapp in python

[Service]
WorkingDirectory=/home/isucon/torb/webapp/python
EnvironmentFile=/home/isucon/torb/webapp/env.sh

ExecStart = /home/isucon/torb/webapp/python/venv/bin/gunicorn --workers=4 app:app --pid /run/torb.python/pid --bind unix:/run/torb.python/socket

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
